<!-- Hero Section -->
<section class="relative min-h-[22vh] md:min-h-[25vh] bg-gradient-to-b from-slate-100 via-slate-50 to-white flex items-center justify-center text-slate-800 pt-4 pb-6">
    <!-- Hero Content -->
    <div class="relative z-10 text-center px-4">
        <h1 class="text-2xl md:text-5xl lg:text-6xl font-extrabold tracking-tight flex flex-col md:flex-row gap-2 text-slate-700">
            <span>Bienvenue à </span><span class="text-cta-dark">Marche-en-Famenne</span>
        </h1>
        <div class="mt-6 max-w-xl mx-auto px-4 md:px-0">
            {% include '@AcMarche/homepage/_form_search.html.twig' %}
        </div>
        <div class="md:hidden mb-4"></div>
    </div>
</section>