<main>
    {% include '@AcMarche/home/_hero.html.twig' %}
    {% include '@AcMarche/home/_quick_access.html.twig' %}
    {% include '@AcMarche/home/_agenda.html.twig' %}
    {% include '@AcMarche/home/_news.html.twig' %}
</main>