### WordPress template
# ignore everything in the root except the this directories.

!/acsort/
!/post-expiration/
!/bottin/

/wordpressmarche-bottin-block-plugin/
/wordpress-seo/
/carousel-lightslider/
load.php