<div class="prose max-w-none prose-lg prose-slate prose-a:text-blue-600 hover:prose-a:text-blue-800" id="contentToListen">

    {% if post.post_excerpt %}
        <p class="fade-in-up text-shadow-slate-400">{{ post.post_excerpt }}</p>
    {% endif %}

    <div class="fade-in-up text-slate-600">{{ body|raw }}</div>

    <div class="fade-in-up mt-8 border-t border-slate-200 pt-8">
        <p class="text-center text-slate-600">

        </p>
    </div>
</div>