<header class="relative  w-full overflow-hidden {% if thumbnail %} h-[35vh] md:h-[50vh] {% else %} h-[8vh] md:h-[12vh] {% endif %}"
        title="">
    <!-- Background Image -->
    <div class="absolute inset-0 bg-blue-50">
        {% if thumbnail %}
            <img src="{{ thumbnail }}"
                 alt=""
                 class="w-full h-full object-cover hero-image-zoom">
        {% endif %}
    </div>

    <!-- Dark Overlay -->
    <div class="absolute inset-0 {% if thumbnail %}bg-black/50{% else %}bg-blue-50{% endif %}"></div>
</header>