<!-- Publication Date and Share Button -->
<div class="mt-6 mb-4 flex flex-row justify-between items-start sm:items-center gap-4"
x-data="{ showModal: false }">
    <button
            type="button"
            class="cursor-pointer flex flex-row items-center gap-2 px-4 py-2 bg-slate-100 text-slate-800 font-semibold text-sm rounded-lg hover:bg-slate-200 transition-colors border border-slate-200"
            aria-label="Écouter l'article">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="size-6" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z"/>
        </svg>
        <span>Ecouter</span><span class="hidden md:inline"> l'article</span>
    </button>
    <button
            @click="showModal = true"
            type="button"
            class="cursor-pointer flex items-center gap-2 px-4 py-2 bg-slate-100 text-slate-800 font-semibold text-sm rounded-lg hover:bg-slate-200 transition-colors border border-slate-200"
            aria-label="Partager l'article">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path
                    d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"/>
        </svg>
        <span>Partager</span><span class="hidden md:inline"> l'article</span>
    </button>
    {% include '@AcMarche/article/_share_modal.html.twig' %}
</div>