<div class="flex flex-row gap-2 mt-6">
    {% for tag in tags %}
        <a
                href="/{{ site }}/category/{{ tag.term_id }}"
                class="inline-block bg-blue-100 text-blue-800 text-xs font-semibold px-3 py-1 rounded-full uppercase tracking-wider hover:bg-blue-200 transition-colors">
            {{ tag.name }}
        </a>
    {% endfor %}
</div>