<div class="bg-slate-50 pt-16">
    <!-- HERO HEADER SECTION -->
    {% include '@AcMarche/article/_header.html.twig' %}
    <!-- MAIN CONTENT SECTION -->
    <main id="main-content" class="relative z-20 -mt-16 md:-mt-24">
        <article class="md:max-w-5xl mx-auto bg-white rounded-xl shadow-2xl p-4 md:p-10 mb-3">
            {% include '@AcMarche/widgets/_breadcrumbs.html.twig' %}
            {% include '@AcMarche/article/_title.html.twig' %}
            {% include '@AcMarche/article/_share_and_listen.html.twig' %}
            {% include '@AcMarche/article/_body.html.twig' %}
            {% include '@AcMarche/article/_tags.html.twig' %}
        </article>
        {% include '@AcMarche/article/_see_also.html.twig' %}
    </main>
</div>
{% include '@AcMarche/widgets/_animation_script.html.twig' %}