{% if description %}
    <section class="py-6 bg-gray-50 border-l-4 border-cta-light mt-4 mx-4 md:mx-8 rounded-r-lg">
        <div class="px-6 text-gray-700 prose prose-sm max-w-none">
            {{ description|raw }}
        </div>
    </section>
{% endif %}