{% if description %}
    <section class="py-4 lg:py-4 bg-background mt-3" id="posts">
        <div class="container mx-auto px-6 text-cta-brown">
            {{ description|raw }}
        </div>
    </section>
{% endif %}