<article
        class="group bg-white p-4 rounded-xl border border-gray-100 hover:border-cta-light hover:shadow-lg transition-all duration-300">

    <h2 class="text-lg font-normal text-gray-800 group-hover:text-cta-dark leading-snug">
        <a :href="post.link" class="no-underline!" x-text="post.name"></a>
    </h2>

    <div class="mt-3 text-gray-600 text-sm leading-relaxed line-clamp-3"
         x-html="post.excerpt" x-show="post.excerpt"></div>
</article>