<section x-data="
{
  categorySelected: {{ category.term_id }},
  categoryName: '{{ category.name }}',
  handleCategorySelected(category) {
    this.categorySelected = category.cat_ID;
    this.categoryName = category.name;
  },
  selectCategory(categoryId, categoryName) {
    this.categorySelected = categoryId;
    this.categoryName = categoryName;
  },
  isSelected(categoryId){
    return this.categorySelected === categoryId;
  },
  allPosts: {{ postsSerialized }},
  get filteredPosts() {
    if (this.categorySelected === 0 || this.categorySelected === {{ category.term_id }}) {
      return this.allPosts;
    }
    return this.allPosts.filter(post => {
      return post.tags && post.tags.some(tag => tag.id === this.categorySelected);
    });
  }
}">
    {% include '@AcMarche/category/_header.html.twig' %}
    {% include '@AcMarche/category/_posts.html.twig' %}
</section>