<div x-data="{
    isPopupCookieOpen: false,
    togglePopupCookie() {
        this.isPopupCookieOpen = !this.isPopupCookieOpen;
    },
          }">

    <section
            class="isolate z-10 fixed max-w-md p-4 mx-auto bg-white border border-gray-200  left-12 bottom-16  rounded-2xl">
        <h4 class="font-semibold text-gray-800 dark:text-white">🍪 Cookie Notice</h4>

        <p class="mt-4 text-gray-600 dark:text-gray-300">
            Ce site utilise des cookies pour vous fournir une expérience optimale.
            <a href="/administration/rgpd" class="text-esquare-blue hover:underline">
                Mentions légales et RGPD.
            </a>
        </p>

        <div class="flex items-center justify-between mt-4 gap-x-4 shrink-0">
            <button @click="togglePopupCookie"
                    class="cursor-pointer text-gray-800 underline transition-colors duration-300  hover:text-gray-600 focus:outline-none">
                En savoir plus et personaliser
            </button>
            <button
                    class=" text-xs bg-gray-900 font-medium rounded-lg hover:bg-gray-700 text-white px-4 py-2.5 duration-300 transition-colors focus:outline-none"
                    @click="togglePopupCookie">
                Tout accepter
            </button>
        </div>
    </section>
    {% include '@AcMarche/widgets/_cookies_popup.html.twig' %}
</div>