<div>
    <div class="text-citoyen ">zeze</div>
    <div class="text-sport ">zeze</div>
    <div class="text-economie">zeze</div>
    <div class="text-sante">zeze</div>
    <div class="text-tourisme">zeze</div>
    <div class="text-administration">zeze</div>
    <div class="text-social">zeze</div>
    <div class="text-culture">zeze</div>
    <div class="text-enfance">zeze</div>

    <ul class="list-disc pl-5">
        <li>Rue du Parc Industriel</li>
        <li>Avenue de France</li>
        <li>Rue du Carmel</li>
    </ul>
    <a href="#" class="hover:text-sport">coucou</a>
    <a href="#" class="hover:text-sante">coucou</a>
    <a href="#" class="hover:text-culture">coucou</a>
    <a href="#" class="hover:text-enfance">coucou</a>
    <a href="#" class="hover:text-tourisme">coucou</a>
    <a href="#" class="hover:text-citoyen">coucou</a>
    <a href="#" class="hover:text-administration">coucou</a>
    <a href="#" class="hover:text-social">coucou</a>
    <a href="#" class="hover:text-economie">coucou</a>

    <span class="text-citoyen-600 bg-citoyen-100 group-hover:bg-citoyen-600"></span>
</div>